
.app-bg {
  height: 100vh;
  width: 100vw;
  background-image: url('/avrr8-bbciz.webp');
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.app-bg  > * {
  flex: 0 0 33%;
  box-sizing: border-box;
}
.time-box {
  font-size: calc((100vw/20) + 12px);
  font-family: test;
  padding-bottom: 120px;
  color: #ffffff;
  letter-spacing: 0.2em;
}
.sentence-box {
  align-self: flex-end;
  padding: 2em 3em;
  color: #ffffff;
}
.sentence-box  .name {
  padding-bottom: 0.5em;
}
.sentence-box  .name-from {
  text-align: right;
  font-size: 13px;
}
