
.app-bg {
  height: 100vh;
  width: 100vw;
  background-image: url('/avrr8-bbciz.webp');
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.time-box {
  font-size: calc((100vw/20) + 12px);
  font-family: test;
  padding-bottom: 120px;
  color: #ffffff;
  letter-spacing: 0.2em;
}